<!DOCTYPE html>
<html>
  <head>
    <title>Servidor de musica</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  	<div id="header">
    	<h1><a href="/">Música</a></h1>
  	</div>
    <div id="container">
	    <div id="nav-bar">
	    	<ul>
	    		<li><a href="/listar">Listar canciones</a></li>
	    		<li><a href="/subir">Subir una nueva canción</a></li>
	    	</ul>
	    </div>
	    <div id="container-body"><%- body %></div>
    </div>
  </body>
</html>
