<form action="/subirCancion" method="post" enctype="multipart/form-data">  
  <label class="upload_field">Subir una nueva cancion</label>
  <input class="upload_field" type="file" name="track"/>
  <button class="hint upload_field" type="submit">Subir</button>
  <span class="hint upload_field">MP3, Wav, and Ogg</span>
</form>
